:root{
    --paleBlue: hsl(225, 100%, 94%);
    --brightBlue:hsl(245, 75%, 52%);
    --vPaleBlue:hsl(225, 100%, 98%);
    --desatBlue:hsl(224, 23%, 55%);
    --darkBlue:hsl(223, 47%, 23%);

    
}

.attribution {
    font-size: 11px;
    text-align: center;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }
body{
  
    font-family: 'Red Hat Display', sans-serif;
    font-size:16px;

    background: top/100% no-repeat url("images/pattern-background-desktop.svg");
background-color: var(--paleBlue);
}

#inner{
    display: flex;
}
#container{
    height:115vh;
}
#card{

    width:380px;
    background-color: white;
   margin:100px auto;
   text-align: center;
 border-radius: 15px;
 box-shadow: 5px 5px 20px  #9d8aff62;
 padding-bottom:20px;
}


#header-img{
    background-image: url("images/illustration-hero.svg");
       background-size: cover;
    background-repeat:no-repeat ;
    min-height: 30%;
    padding-bottom: 150px;
border-radius: 15px 15px 0 0;

}

#summary{

width:280px;
margin:auto;
}

h1{
    margin-top:20px;
    margin-bottom:20px;
    color:var(--darkBlue);
}

p{
    font-weight: 500;
    color:var(--desatBlue);
    line-height: 1.5;
}

#pricing{
    display: flex;
    flex-direction: row;
  justify-content: space-between;
  align-items:center;
    background-color: var(--vPaleBlue);
    margin:30px;
    border-radius: 5%;
    padding:15px;
    height:50px;
}

.innerPar{
    margin:0 0 0 15px;
 
}
a{
    display: inline;
}
.ap{
    color: var(--darkBlue);
    font-weight: 700;
}
#plan{
    display: flex;
    flex-direction: column;
}

#pay{
    display: block;
   
    color:var(--vPaleBlue);
    background-color:var(--brightBlue);
    border:none;
    border-radius: 7.5px;
    height: 35px;
    width:300px;
    font-family: 'Red Hat Display';
filter:drop-shadow(0 13px 10px #9d8aff94);
margin-bottom:5% ;}

#change{
font-weight: 700;
}

.btns{

    margin:auto;
    
   width: fit-content;
 
}
#change:hover{
color: #7273E8;
    transition-duration: 0.1s;
    transition-timing-function: ease-in;
    transition-property: color,text-decoration;
    text-decoration: none;
}

#cancel{
    background-color: transparent;
    border:none;
    font-family: "Red Hat Display";
    color:var(--desatBlue);
    font-weight: 700;
    font-size:12px;

}

#cancel:hover{
    color:var(--darkBlue);
    transition-duration: 0.1s;
transition-timing-function: ease-in;
transition-property: background-color;
}

#pay:hover{
    background-color: #7273E8;
transition-duration: 0.1s;
transition-timing-function: ease-in;
transition-property: background-color;
}


@media(max-width:376px){
    #card{
       margin-top:30%;
        width: 95%;
        
    }
    #header-img{
        background-size: cover;
  max-height:200px;
    }

    #summary{
        max-width:100%;
    }
    #pricing{
        font-size: 14px;
    }
.btns{
    width:80vw;
  
}

#pay{
    width:80vw;
}
}
    body{
        background: top/100% no-repeat url("images/pattern-background-mobile.svg");
        background-color: var(--paleBlue);
    }

    h1{
        font-size:20px;
    }

    #pricing{
        margin:20px;

    }
   

    #music-img{
        width:40px;
        height: 100%;
    }

@media(min-width:375px){
    #container{
        margin-bottom: 10%;
    }
}

@media(min-width:1440px){
    #card{
        
        width:450px;
    }
    #summary{
        width:400px;
        margin-bottom:15px;
       
    }
    #pricing{
        margin:10px 60px 30px 60px;
    }
    
h1{ margin-top:25px;
}
   
#pay{
        margin-top:10%;
        margin-bottom:5%;
    }

}
